<%= form_for([@project, @ticket]) do |f| %>
<p>
  <%= f.label :Title %><br>
 <%= f.text_field :title %>
</p>
<p>
<%= f.label :Description %><br>
 <%= f.text_field :comment %>
</p>
<p>
<%= f.label :Status %><br>
 <%= f.text_field :status %>
</p>
<p>
<%= f.label :Rank %><br>
 <%= f.text_field :rank %>
</p>

<br>
<br>
<div class="actions">
    <%= f.submit %>
  </div>

  <% end %>