<%= simple_form_for([@project, @ticket]) do |f| %>

<%= f.input :title ,label: "Title"%>
<%= f.input :comment,label: "Description" %>

<%= f.input :rank,collection: 1..100, prompt: "Select rank" %>
<%= f.input :status,collection: ["open","close","active"], prompt: "Select status" %>

<br>
<br>
<div class="actions">
    <%= f.submit %>
  </div>

  <% end %>

