<h3>Tickets:</h3>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Rank</th>
    </tr>
  </thead>

  <tbody >
<% @project.tickets.each do |ticket| %>
    <tr>
    <td><%= ticket.title %></td>

    <td><%= ticket.comment %></td>
 
    <td><%= ticket.priority %></td>

   <td> <%= ticket.status %></td>

   <td> <%= ticket.rank %></td>
      <td> <%= link_to 'Edit', "/projects/#{@project.id}/tickets/#{ticket.id}/edit",:class => 'btn btn-mini btn-info' %></td>
      <td> <%= link_to 'Destroy', [ticket.project, ticket],:class => 'btn btn-mini btn-danger',
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
      
      
      
    </tr>
<% end %>
  </tbody>
</table>
 <%= link_to 'Back', projects_path,:class => 'btn btn-mini btn-primary' %> 