<h3>Tickets:</h3>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Rank</th>
    </tr>
  </thead>

  <tbody >
<% @project.tickets.each do |ticket| %>
    <tr>
    <td><%= ticket.title %></td>

    <td><%= ticket.comment %></td>
 
    <td><%= ticket.priority %></td>

   <td> <%= ticket.status %></td>

   <td> <%= ticket.rank %></td>
    </tr>
<% end %>
  </tbody>
</table>
 <%= link_to 'Back', projects_path,:class => 'btn btn-mini btn-primary' %> 